.JC {
	&-TucaoButton {
		&, &:link, &:visited {
			margin-left: 10px;
			color: #999;
		}

		&:hover {
			color: #d33;
		}
	}

	&-Comments {
		--height: 0px;
		color: #666;
		* {
			color: inherit;
		}

		overflow: hidden;
		transition: height .3s ease-out;
		height: var(--height);

		// 吐槽
		ul {
			padding: 0 !important;
			margin: 0;
			li {
				border: $border;
				padding: 20px;
				header {
					color: #999;
					display: flex;
					justify-content: space-between;
					align-items: center;
					& > * {
					}

					& > *:nth-child(1) {
					}

					& > *:nth-child(2) {
					}
				}

				p {
					margin: 20px 0;
				}

				footer {
					color: #999;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					& > * {
						&::before {
							margin-right: 4px;
							font-weight: bold;
							opacity: 0.5;
							transition: opacity .3s;
						}

						&:hover{
							cursor: pointer;
							&::before{
								opacity: 0.75;
							}
						}
					}

					& > *:nth-child(1) {
						&::before {
							content: 'OO';
							color: #f00;
						}

						margin-right: 12px;
					}

					& > *:nth-child(2) {
						&::before {
							content: 'XX';
							color: #00f;
						}
					}
				}
			}
		}

		// 分页
		ol {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 0 !important;
			margin: 10px 0 !important;

			li {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				margin: 0;
				padding: 10px;
				border: $border;
				cursor: pointer;

				&:not(:last-child){
					margin-right: 10px;
				}

				&.on {
					color: white;
					background-color: #aaa;
				}

				&:hover {
					color: #faa;
				}
			}
		}

		&-Form {
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
			position: relative;

			header {

			}

			textarea {
				resize: none;
				width: 100%;
				min-height: 200px;
				font-size: inherit;
				padding: 12px;
				outline: none;
				border: $border;
				background-color: #f2f2f2;
				transition: background-color .3s, min-height .3s;

				&:focus {
					background-color: #f9f9f9;
				}
			}

			footer {
				display: flex;

				a {
					flex: 1;
					padding: 12px;
					text-align: center;
					border: $border;
				}
			}
		}
	}
}
