.JC {
	&-TucaoButton {
		color: #999;
		* {
			color: inherit;
		}
	}

	&-Comments {
		color: #666;
		* {
			color: inherit;
		}

		max-height: 0px;
		overflow: hidden;
		transition: max-height .5s ease-out;
		&.on {
			max-height: 1280px;
			transition-timing-function: ease-in;
		}

		ul {
			padding: 0 !important;
			margin: 0;
			li {
				border: $border;
				padding: 20px;
				header {
					color: #999;
					display: flex;
					justify-content: space-between;
					align-items: center;
					& > * {
					}

					& > *:nth-child(1) {
					}

					& > *:nth-child(2) {
					}
				}

				p {
					margin: 20px 0;
				}

				footer {
					color: #999;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					& > * {
						&::before {
							margin-right: 4px;
							font-weight: bold;
						}
					}

					& > *:nth-child(1) {
						&::before {
							content: 'OO';
							color: #faa;
						}

						margin-right: 12px;
					}

					& > *:nth-child(2) {
						&::before {
							content: 'XX';
							color: #aaf;
						}
					}
				}
			}
		}


		&-Form {
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
			position: relative;

			header {

			}

			textarea {
				resize: none;
				width: 100%;
				min-height: 240px;
				font-size: inherit;
				padding: 12px;
				outline: none;
				border: $border;
				background-color: #f2f2f2;
			}

			footer {
				display: flex;

				a {
					flex: 1;
					padding: 12px;
					text-align: center;
					border: $border;
				}
			}
		}
	}
}
